<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minzheng.blog.dao.UserAboutMapper">
  <resultMap id="BaseResultMap" type="com.minzheng.blog.entity.UserAbout">
    <!--@mbg.generated-->
    <!--@Table tb_user_about-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="about_content" jdbcType="LONGVARCHAR" property="aboutContent" />
    <result column="user_about" jdbcType="VARCHAR" property="userAbout" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, about_content, user_about
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from tb_user_about
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from tb_user_about
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.minzheng.blog.entity.UserAbout" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into tb_user_about (about_content, user_about)
    values (#{aboutContent,jdbcType=LONGVARCHAR}, #{userAbout,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.minzheng.blog.entity.UserAbout" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into tb_user_about
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="aboutContent != null">
        about_content,
      </if>
      <if test="userAbout != null">
        user_about,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="aboutContent != null">
        #{aboutContent,jdbcType=LONGVARCHAR},
      </if>
      <if test="userAbout != null">
        #{userAbout,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.minzheng.blog.entity.UserAbout">
    <!--@mbg.generated-->
    update tb_user_about
    <set>
      <if test="aboutContent != null">
        about_content = #{aboutContent,jdbcType=LONGVARCHAR},
      </if>
      <if test="userAbout != null">
        user_about = #{userAbout,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.minzheng.blog.entity.UserAbout">
    <!--@mbg.generated-->
    update tb_user_about
    set about_content = #{aboutContent,jdbcType=LONGVARCHAR},
      user_about = #{userAbout,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>